html {
font-size: 100%;
}

.main-header {
background-color: green;
background-blend-mode: multiply;
background-size: cover;
padding-bottom: 10px;
}

.main-nav {
text-align: center:
font-size: 1.5em;
font-weight: lighter;
border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
padding: 0 5%;
}

ul {
    list-style: none;
    padding-left: 0;

}​

nav ul {
margin: 0;
}

.nav li {
display: inline;
list-style-type: none;
}

.nav a {
display: inline-block;
padding: .5em;
color: white;
text-decoration: none;
font-size: 1.4em;
}

.nav a:hover {
background-color: rgba(255, 255, 255, .3);
}

h1 {
color: white;
text-align: center;
font-size: 1.8em;
font-style: script;
}

.grid-container1 {
max-width: 1500px;
background-color: #FFF;
margin: 10px auto 0 auto;
line-height: .5;
padding: 10px 25px;

border-style:ridge;

}

/* Extra small devices (phones, 300px and down) */
@media only screen and (max-width: 300px) {
.grid-container1 {
display: flex;
justify-content: space-between;
}
} 

/* Small devices (portrait tablets and large phones, 400px and up) */
@media only screen and (min-width: 400px) {
.grid-container1 {
display: flex;
justify-content: space-between;
}
} 
/* Medium devices (landscape tablets, 500px and up) */
@media only screen and (min-width: 500px) {
.grid-container1 {
display: flex;
justify-content: space-between;
}
} 
/* Large devices (laptops/desktops, 600px and up) */
@media only screen and (min-width: 600px) {
.grid-container1 {
display: flex;
justify-content: space-between;
}
} 
/* Extra large devices (large laptops and desktops, 700px and up) */
@media only screen and (min-width: 700px) {
.grid-container1 {
display: flex;
justify-content: space-between;
}
} 

.grid-item1 {

padding: 15px;
background-color: #F0F0F0;
color: blue;
font-size: 1.3em;
font-weight: bold;
box-sizing: border-box;
width: 33%;
display: flex;
}

.grid-item2 {

padding: 50px;

background-color: #F0F0F0;
color: blue;
font-size: 1.3em;
font-weight: bold;
box-sizing: border-box;
width: 33%;
}

.grid-item3 {

padding: 50px;

background-color: #F0F0F0;
color: blue;
font-size: 1.3em;
font-weight: bold;
box-sizing: border-box;
width: 33%;
}



.grid-container2 {
max-width: 1700px;
background-color: #FFF;
margin: 20px auto 0 auto;
line-height: 1.65;
padding: 20px 25px;
display: flex;
border-style:ridge;
justify-content: space-between;
}

.grid-item4 {
padding: 50px;

background-color: #F0F0F0;
color: blue;
font-size: 1.3em;
font-weight: bold;
box-sizing: border-box;
width: 33%;
}

.grid-item5 {

padding: 50px;

background-color: #F0F0F0;
color: blue;
font-size: 1.3em;
font-weight: bold;
box-sizing: border-box;
width: 33%;
}

.grid-item6 {

padding: 312.5%;

background-color: #F0F0F0;
color: blue;
font-size: 1.3em;
font-weight: bold;
box-sizing: border-box;
width: 33%;
}


.grid-container3 {
max-width: 1700px;
background-color: #FFF;
margin: 20px auto 0 auto;
line-height: 1.65;
padding: 20px 25px;
display: flex;
border-style:ridge;
justify-content: space-between;
}

.grid-item7 {
padding: 50px;

background-color: #F0F0F0;
color: blue;
font-size: 1.3em;
font-weight: bold;
box-sizing: border-box;
width: 33%;
}

.grid-item8 {

padding: 50px;

background-color: #F0F0F0;
color: blue;
font-size: 1.3em;
font-weight: bold;
box-sizing: border-box;
width: 33%;
}

.grid-item9 {

padding: 50px;

background-color: #F0F0F0;
color: blue;
font-size: 1.3em;
font-weight: bold;
box-sizing: border-box;
width: 33%;
}


.inner-divs ul li {
padding: .5vw;
color: green;
margin-bottom: 1vw;
margin-top: 10px;
font-size: .8em;

}

.footer-container{
font-style: oblique;
padding: 15px;
font-size: 1.5em;
font-weight: bold;
color: green;
width: 70%;
margin-left: 20vw;
}


/* Extra small devices (phones, 300px and down) */
@media only screen and (max-width: 300px) {
.footer-container {
display: flex;
justify-content: space-between;
}
} 

/* Small devices (portrait tablets and large phones, 400px and up) */
@media only screen and (min-width: 400px) {
.footer-container {
display: flex;
justify-content: space-between;
}
} 
/* Medium devices (landscape tablets, 500px and up) */
@media only screen and (min-width: 500px) {
.footer-container {
display: flex;
justify-content: space-between;
}
} 
/* Large devices (laptops/desktops, 600px and up) */
@media only screen and (min-width: 600px) {
.footer-container {
display: flex;
justify-content: space-between;
}
} 
/* Extra large devices (large laptops and desktops, 700px and up) */
@media only screen and (min-width: 700px) {
.footer-container {
display: flex;
justify-content: space-between;
}
} 

#facebook{
flex:1;
padding: 10px;
margin-left: -20vw;
width: 40px;
height: auto;
}

#twitter{
flex:1;
padding: 20px;
margin-left: -35vw;
width: 40px;
height: auto;
}


.figure-dims {
margin-top: 40px;
margin-left: -80px;
color:black;
font-size: .7em;
float: right;
}

p {
font-size: .8em;
color: green;
float: right;
margin: 10px;
}

img {
width: 150px;
height: auto;
}

div.textWrapLeft {
clear: left;
float: left;
margin: 10px;
}