

/* Media Query for Mobile Devices */
        @media (max-width: 480px) {
body {
max-width: 100%;
}
            }
        

.main-header {
background-color: green;
background-blend-mode: multiply;
background-size: cover;
padding-bottom: 1vw;
max-width: 100%;
}

.main-nav {
text-align: center:
font-size: .3em;
font-weight: lighter;
border-bottom: .1vw solid rgba(255, 255, 255, .3);
max-width: 100%;
}

.main-nav li {
padding: 0 5%;

}

ul {
    list-style: none;
    padding-left: 0;

}​

nav ul {
margin: 0;

}

.nav li {
display: inline;
list-style-type: none;
}

.nav a {
display: inline-block;
padding: .5em;
color: white;
text-decoration: none;
font-size: 1.4em;
}

.nav a:hover {
background-color: rgba(255, 255, 255, .3);
}

h1 {
color: white;
text-align: center;
font-size: 2em;
font-style: script;
}

.grid-container1 {
max-width: 90%;
background-color: #FFF;
margin: .5vw auto 0 auto;
line-height: .5;
padding: 1vw 1.5vw;
display: flex;
border-style:ridge;
justify-content: space-between;
}

.grid-item1 {

padding: 2vw;
background-color: #F0F0F0;
color: blue;
font-size: 1.1em;
font-weight: bold;
box-sizing: border-box;
width: 33%;
display: flex;
}

ul li {
font-weight: normal;
}


.inner-divs ul li {
padding: .5vw;
color: green;
margin-bottom: 1vw;
margin-top: 1vw;
max-width: 100%;
}


.inner-divs ul li {
padding: .5vw;
color: green;
margin-bottom: 1vw;
margin-top: 1vw;
max-width: 100%;
}

.footer-container{
font-style: oblique;
padding: 1vw;
font-size: 1.5em;
font-weight: bold;
color: green;
display: flex;
justify-content: space-between;
width: 65%;
margin-left: 30vw;
}

#facebook{
flex:1;
padding: .5vw;
margin-left: 10vw;
padding: .3vw;
margin-left: -20vw;
width: 3vw;
height: auto;
}

#twitter{
flex:1;
padding: .5vw;
margin-left: -10vw;
padding: .3vw;
margin-left: -35vw;
width: 4vw;
height: auto;
}


.figure-dims {
margin-top: 4vw;
margin-left: -7vw;
color:black;
font-size: .7em;
float: right;
}

p {
font-size: .3em;
color: green;
float: right;
margin: 1vw;
}

img {
width: 10vw;
height: auto;
}